<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

{% block title %}
Список статей
{% endblock title %}


{% block content %}
<h1>Все статьи</h1>


   <hr>
<!-- Выводим новости, только если они есть с помощью тега if -->
{% if articles %}
<table class="table">
    <tr>
        <!-- <th>ID</th> -->
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Дата публикации</th>
        <th>Категория</th>

    </tr>


    {% for article in articles %}
    <tr>
        <!-- <td><a href="/news/{{neww.id}}"> {{neww.id }}</a></td> -->
        <td><a href="{% url 'article_detail' article.id %}">{{ article.title}}</a></td>
        <td>{{ article.author}}</td>
        <td>{{ article.time_create | date:'d M Y'}}</td>
        <td>{{ article.get_category_display}}</td>
    </tr>
    {% endfor %}

</table>

{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page=1" class="page-link">1</a>
    </li>
    {% if page_obj.previous_page_number != 1 %}
        <li class="page-item">
                ...
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                {{ page_obj.previous_page_number }}
            </a>
        </li>
    {% endif %}
{% endif %}

{# Информация о текущей странице #}
<li class="page-item disabled">
    <a href="#" class="page-link">
    {{ page_obj.number }}
    </a>
</li>
{# Информация о следующих страницах #}
{% if page_obj.has_next %}
    <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
            {{ page_obj.next_page_number }}
        </a>
    </li>
    {% if paginator.num_pages != page_obj.next_page_number %}
        <li class="page-item">
            ...
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">
                {{ page_obj.paginator.num_pages }}
            </a>
        </li>
    {% endif %}
{% endif %}
</ul>
{% else %}
    <!-- Если новостей нет, говорим, что новостей нет ;) -->
    <h2>Статей нет!</h2>
    {% if perms.news.add_article %}
        {% if author_user %}
            <a href="{% url 'article_create' %}" class="btn btn-primary">Написать новость</a>
        {% endif %}
    {% endif %}
{% endif %}
<p></p>
<div>
    {% if user.is_authenticated %}

        <a href="{% url 'article_create' %}" class="btn btn-primary">Написать новость</a>
        <a href="{% url 'response_list' %}" class="btn btn-primary">Управление откликами</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
        <a href="{% url 'reg_user' %}" class="btn btn-primary">Зарегистрироваться</a>
    {% endif %}
</div>
{% endblock content %}
